.cardBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: aqua;
  font-family: "Open Sans", Arial, sans-serif;
}
.title {
  text-align: center;
  font-family: "Roboto Slab", Cambria, serif;
  font-size: 4em;
}

.fact {
  text-align: center;
  font-size: 1.5em;
  max-width: 500px;
  margin: 0 1em 1em 1em;
}
